.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  color: #007791;
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  position: absolute;
  top: 30%;
}
.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span {
  position: absolute;
  line-height: 0;
  top: 45%;
  left: 50%;
  transform: translateX(-65%);
}
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #fff;
  color: #007791;
}
.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}
.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}
.owl-carousel .owl-nav button.owl-next span {
  transform: translateX(-35%);
}

.sidebarMini {
  position: fixed;
  width: 400px;
  top: 25%;
  right: 0;
  background-color: #dedfe0;
  border-color: 1px solid #dedfe0;
  transform: translateX(100%);
  transition: all 0.5s;
  z-index: 20;
}
.sidebarMini .sidebarMini__button {
  color: #29303b;
  background-color: #dedfe0;
  border: 1px solid #dedfe0;
  font-size: 24px;
  font-weight: normal;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.5s;
  position: fixed;
  transform: translateX(-100%);
  border-radius: 8px 0 0 8px;
  transition: all 0.5s;
}
.sidebarMini .sidebarMini__content {
  display: inline-block;
  min-width: 150px;
  padding: 20px;
  text-align: center;
}
.sidebarMini .sidebarMini__content h2 {
  font-size: 15px;
}
.sidebarMini .sidebarMini__content .switch {
  display: inline-block;
  width: 50px;
  height: 26px;
  position: relative;
}
.sidebarMini .sidebarMini__content .switch #checkbox {
  display: none;
}
.sidebarMini .sidebarMini__content .switch #checkbox:checked + .slider:before {
  transform: translateX(24px);
}
.sidebarMini .sidebarMini__content .switch .slider {
  position: relative;
  background-color: #cccccc;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.5s;
}
.sidebarMini .sidebarMini__content .switch .slider:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.5s;
}
.sidebarMini.is-opened {
  transform: translateX(60%);
}

header .myNavBar {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}
header .myNavBar .myNavBar__toggler {
  display: none;
}
header .myNavBar .myNavBar__left {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
header .myNavBar .myNavBar__left .navbar-brand {
  flex-grow: 1;
  margin-right: 0;
}
header .myNavBar .myNavBar__left .navbar-brand img {
  width: 110px;
  margin: 0 auto;
}
header .myNavBar .myNavBar__left .navbar-brand .logo--white {
  display: none;
}
header .myNavBar .myNavBar__left .myNavBar__categories {
  flex-grow: 1;
  text-align: center;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}
header .myNavBar .myNavBar__left .myNavBar__categories i {
  color: #a1a7b3;
}
header .myNavBar .myNavBar__left .myNavBar__form-search {
  flex-grow: 8;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group {
  background-color: #f2f3f5;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control,
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-text {
  background-color: transparent;
  transition: all 0.5s;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid transparent;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-left-color: #dedfe0;
  border-bottom-color: #dedfe0;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-text {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-right-color: #dedfe0;
  border-bottom-color: #dedfe0;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-text:hover {
  cursor: pointer;
  background-color: #ec5252;
  border-top-color: #ec5252;
  border-right-color: #ec5252;
  border-bottom-color: #ec5252;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-text:hover i {
  color: #fff;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::-moz-placeholder {
  color: #29303b;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:-ms-input-placeholder {
  color: #29303b;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::placeholder {
  color: #29303b;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-text {
  border-radius: 0;
  border: 1px solid transparent;
  z-index: 100;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-text i {
  color: #ec5252;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-text:hover {
  cursor: pointer;
  background-color: #ec5252;
}
header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-text:hover i {
  color: #fff;
}
header .myNavBar .myNavBar__right .navbar-nav {
  justify-content: space-between;
  align-items: center;
}
header .myNavBar .myNavBar__right .navbar-nav .nav-item {
  position: relative;
  padding: 7px 5px;
}
header .myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  transition: all 0.5s;
}
header .myNavBar .myNavBar__right .navbar-nav .nav-item .overlay {
  display: none;
  position: absolute;
  top: 125%;
  right: 0;
  width: 330px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  box-shadow: 0 4px 16px 0 rgba(20, 23, 28, 0.25);
  white-space: normal;
  z-index: 10;
}
header .myNavBar .myNavBar__right .navbar-nav .nav-item .overlay:before {
  content: "";
  position: absolute;
  top: -7%;
  left: 84%;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  border-left: 1px solid rgba(20, 23, 28, 0.05);
  transform: rotate(45deg);
}
header .myNavBar .myNavBar__right .navbar-nav .nav-item:hover {
  cursor: pointer;
  background-color: rgba(20, 23, 28, 0.05);
}
header .myNavBar .myNavBar__right .navbar-nav .nav-item:hover .overlay {
  display: block;
}
header .myNavBar .myNavBar__right .navbar-nav .myNavBar__cart {
  width: 50px;
  height: 50px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
}
header .myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons:hover {
  background-color: transparent;
}
@media screen and (max-width: 1310px) {
  header .myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 1226px) {
  header .myNavBar .myNavBar__right .navbar-nav .nav-item {
    white-space: nowrap;
  }
}
@media screen and (max-width: 1199.98px) {
  header .myNavBar .myNavBar__right .navbar-nav {
    justify-content: space-evenly;
  }
  header .myNavBar .myNavBar__right .navbar-nav .business,
header .myNavBar .myNavBar__right .navbar-nav .instructor {
    display: none;
  }
  header .myNavBar .myNavBar__right .navbar-nav .myNavBar__cart .nav-link {
    font-size: 20px;
  }
}
@media screen and (max-width: 991.98px) {
  header .myNavBar .myNavBar__right .navbar-nav {
    flex-direction: row;
  }
}
@media screen and (max-width: 767.98px) {
  header .myNavBar .myNavBar__toggler {
    display: block;
  }
  header .myNavBar .myNavBar__toggler .navbar-toggler {
    border: none;
  }
  header .myNavBar .myNavBar__toggler .navbar-toggler:focus {
    box-shadow: none;
  }
  header .myNavBar .myNavBar__left .myNavBar__categories,
header .myNavBar .myNavBar__left .myNavBar__form-search {
    display: none;
  }
  header .myNavBar .myNavBar__right .navbar-nav {
    justify-content: flex-end;
  }
  header .myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons {
    display: none;
  }
}

.intro {
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
  padding: 20px;
}
.intro .intro__content {
  width: 70%;
  margin: 0 auto;
}
.intro .intro__content .intro__item {
  display: flex;
  align-items: center;
}
.intro .intro__content .intro__item .intro__icon {
  font-size: 50px;
  color: #fff;
  margin-right: 25px;
}
.intro .intro__content .intro__item .intro__details p:first-of-type {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
}
.intro .intro__content .intro__item .intro__details p:last-of-type {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0;
}
@media screen and (max-width: 1199.98px) {
  .intro .intro__content .intro__item .intro__icon {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .intro {
    display: none;
  }
}
.courses {
  margin: 25px 0;
}
.courses .courses__content {
  width: 90%;
  margin: 0 auto;
}
.courses .courses__content .courses__left {
  padding: 0 2rem;
  background-color: rgba(20, 23, 28, 0.05);
  display: flex;
  align-items: center;
}
.courses .courses__content .courses__left h2 {
  color: #29303b;
  font-size: 19px;
  font-weight: normal;
}
.courses .courses__content .courses__right #myTab {
  margin-bottom: 25px;
}
.courses .courses__content .courses__right #myTab .nav-item .nav-link {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  border-bottom: 5px solid transparent;
  transition: all 0.5s;
}
.courses .courses__content .courses__right #myTab .nav-item .nav-link.active {
  border-bottom: 5px solid #007791;
}
.courses .courses__content .courses__right #myTab .nav-item .nav-link:hover {
  color: #007791;
}
@media screen and (max-width: 767.98px) {
  .courses .courses__content .courses__left {
    padding: 20px;
  }
}

.viewing {
  padding: 25px 0;
}
.viewing .viewing__content {
  width: 90%;
  margin: 0 auto;
}
.viewing .viewing__content h2 {
  font-size: 20px;
}

.banner {
  background: url("../img/udemy-logo-semi-transparent.svg") 0/30% no-repeat, linear-gradient(61deg, #6e1a52, #76c5d6 41%);
  height: 325px;
  background-blend-mode: overlay;
  text-align: center;
  display: flex;
  align-items: center;
}
.banner h2 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}
.banner p {
  color: #fff;
  margin-bottom: 0;
}
.banner button {
  margin: 10px 0;
}
.banner img {
  display: inline-block;
  cursor: pointer;
}

.categories {
  margin-top: 32px;
}
.categories .categories__content {
  width: 90%;
  margin: 0 auto;
}
.categories .categories__content h2 {
  font-size: 24px;
}
.categories .categories__content .categories__item {
  padding: 15px;
  font-size: 18px;
  border: 1px solid rgba(20, 23, 28, 0.1);
  margin-bottom: 15px;
  transition: all 0.25s;
}
.categories .categories__content .categories__item:hover {
  cursor: pointer;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.students {
  padding: 32px 0;
}
.students .students__content {
  width: 90%;
  margin: 0 auto;
}
.students .students__content h2 {
  font-size: 24px;
  margin-bottom: 24px;
}
.students .students__content .students__carousel .card {
  height: 320px;
}
.students .students__content .students__carousel .card .card-body {
  padding: 2rem;
}
.students .students__content .students__carousel .card .card-body .card__top {
  display: flex;
  margin-bottom: 15px;
}
.students .students__content .students__carousel .card .card-body .card__top .card__avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 15px;
}
.students .students__content .students__carousel .card .card-body .card__top .card__info .card__name {
  margin-bottom: 0;
}
.students .students__content .students__carousel .card .card-body .students__text {
  display: block;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}
@media screen and (max-width: 900px) {
  .students .students__content .students__carousel .card {
    height: auto;
  }
}

.partners {
  background-color: #f7f8fa;
  padding: 20px 0;
}
.partners .partners__content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.partners .partners__content .partners__imgs {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991.98px) {
  .partners .partners__content {
    width: 90%;
  }
}
@media screen and (max-width: 767.98px) {
  .partners .partners__content {
    width: 60%;
  }
  .partners .partners__content .partners__imgs {
    flex-wrap: wrap;
  }
  .partners .partners__content .partners__imgs .partners__items {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 10px;
  }
  .partners .partners__content .partners__imgs .partners__items img {
    display: inline-block;
  }
}

.jobs {
  background-color: #f7f8fa;
  padding: 10px 0;
}
.jobs .jobs__content {
  text-align: center;
}
.jobs .jobs__content .jobs__items {
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
}
.jobs .jobs__content .jobs__items h2 {
  color: #505763;
  font-size: 19px;
  font-weight: 600;
}

footer {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}
footer .footer__top {
  width: 90%;
  margin: 40px auto;
}
footer .footer__top .nav {
  flex-direction: column;
  height: 110px;
}
footer .footer__top .nav .nav-item {
  flex-basis: 25%;
}
footer .footer__top .nav .nav-item .nav-link {
  color: #007791;
  padding: 0;
}
footer .footer__top .nav .nav-item .nav-link.bold {
  font-weight: 700;
}
footer .footer__top .btn-group {
  display: block;
  text-align: end;
}
footer .footer__top .btn-group .button--dropup {
  min-width: 160px;
  border-radius: 5px;
}
footer .footer__top .btn-group .button--dropup:after {
  margin-left: 38%;
}
footer .footer__top .btn-group .dropdown-menu {
  font-size: 13px;
}
footer .footer__bottom {
  width: 90%;
  margin: 30px auto;
}
footer .footer__bottom .footer__bottom--left {
  display: flex;
  align-items: center;
}
footer .footer__bottom .footer__bottom--left img {
  display: inline-block;
  width: 110px;
  margin-right: 10px;
}
footer .footer__bottom .footer__bottom--left .logo--white {
  display: none;
}
footer .footer__bottom .nav {
  justify-content: flex-end;
}
footer .footer__bottom .nav .nav-link {
  color: #007791;
}
@media screen and (max-width: 767.98px) {
  footer .footer__top .btn-group {
    text-align: start;
  }
  footer .footer__bottom .footer__bottom--left {
    margin: 15px 0;
  }
  footer .footer__bottom .footer__bottom--right {
    padding: 0;
  }
  footer .footer__bottom .footer__bottom--right .nav {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 575.98px) {
  footer .footer__top .nav {
    height: auto;
  }
  footer .footer__top .nav .nav-item .nav-link {
    padding: 5px 0;
  }
  footer .footer__top .btn-group {
    margin-top: 15px;
  }
}

.button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
  transition: all 0.5s;
  transition: all 0.5s;
}
.button--white:hover {
  color: #29303b;
  background-color: transparent;
  border-color: #29303b;
}

.button--red {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
  transition: all 0.5s;
  transition: all 0.5s;
}
.button--red:hover {
  color: #fff;
  background-color: #521822;
  border-color: #521822;
}

.button--dropup {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.button--dropup:hover {
  color: #29303b;
  background-color: transparent;
  border-color: #29303b;
}

.card {
  margin-right: 1px;
  cursor: pointer;
}
.card .card-body {
  padding: 1rem;
}
.card .card-body .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card .card-body .card-text {
  margin: 5px 0;
  color: #686f7a;
  font-size: 12px;
  font-weight: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card .card-body .card__stars i {
  color: #f4c150;
  font-size: 12px;
  font-weight: 900;
}
.card .card-body .card__stars .card__rate {
  color: #686f7a;
  font-size: 13px;
  font-weight: 600;
}
.card .card-body .card__stars .card__total {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}
.card .card-body .card__price {
  text-align: right;
  margin-top: 7px;
}
.card .card-body .card__price span:first-of-type {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}
.card .card-body .card__price span:last-of-type {
  color: #29303b;
  font-size: 15px;
  font-weight: 700;
}

.cover {
  background-image: url("../img/cover.jpg");
  height: 500px;
  position: relative;
}
.cover .cover__content {
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
}
.cover .cover__content h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  white-space: nowrap;
}
.cover .cover__content p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}
.cover .cover__content .cover__form .input-group {
  background-color: #fff;
}
.cover .cover__content .cover__form .input-group .form-control,
.cover .cover__content .cover__form .input-group .input-group-text {
  background-color: transparent;
  transition: all 0.5s;
}
.cover .cover__content .cover__form .input-group .form-control {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid transparent;
}
.cover .cover__content .cover__form .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #fff;
  border-left-color: #fff;
  border-bottom-color: #fff;
}
.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-text {
  background-color: #fff;
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
}
.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-text:hover {
  cursor: pointer;
  background-color: #ec5252;
  border-top-color: #ec5252;
  border-right-color: #ec5252;
  border-bottom-color: #ec5252;
}
.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-text:hover i {
  color: #fff;
}
.cover .cover__content .cover__form .input-group .form-control::-moz-placeholder {
  color: #29303b;
}
.cover .cover__content .cover__form .input-group .form-control:-ms-input-placeholder {
  color: #29303b;
}
.cover .cover__content .cover__form .input-group .form-control::placeholder {
  color: #29303b;
}
.cover .cover__content .cover__form .input-group .input-group-text {
  border-radius: 0;
  border: 1px solid transparent;
  z-index: 100;
}
.cover .cover__content .cover__form .input-group .input-group-text i {
  color: #ec5252;
}
.cover .cover__content .cover__form .input-group .input-group-text:hover {
  cursor: pointer;
  background-color: #ec5252;
}
.cover .cover__content .cover__form .input-group .input-group-text:hover i {
  color: #fff;
}
@media screen and (max-width: 993px) {
  .cover .cover__content {
    max-width: 60%;
  }
}
@media screen and (max-width: 767.98px) {
  .cover .cover__content {
    max-width: 70%;
  }
  .cover .cover__content h1 {
    white-space: normal;
  }
}
@media screen and (max-width: 666px) {
  .cover .cover__content {
    max-width: 70%;
  }
}
@media screen and (max-width: 398px) {
  .cover .cover__content {
    max-width: 90%;
    left: 5%;
  }
}

body.darkMode {
  color: #9da9bb;
  background-color: #061325;
}

.darkMode .sidebarMini {
  background-color: #152e4d;
  border-color: #152e4d;
  color: #fff;
}
.darkMode .sidebarMini .sidebarMini__button {
  background-color: #152e4d;
  border-color: #152e4d;
  color: #fff;
}
.darkMode .sidebarMini .sidebarMini__content .switch .slider {
  background-color: #061325;
  box-shadow: 0 0 2px 3px #344050;
}

.darkMode .button--white:hover {
  color: #d8e2ef;
  background-color: #152e4d;
  border: 1px solid #344050;
}
.darkMode .button--red:hover {
  color: #fff;
  background-color: #e63757;
  border: 1px solid #e63757;
}
.darkMode .button--dropup {
  color: #d8e2ef;
  background-color: #152e4d;
  border: 1px solid #344050;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.darkMode .button--dropup:hover {
  color: #d8e2ef;
  background-color: #132238;
  border-color: #344050;
}

.darkMode .card {
  background-color: #152e4d;
  border: 1px solid #344050;
}
.darkMode .card .card-title {
  color: #d8e2ef;
}
.darkMode .card .card-text {
  color: #9da9bb;
}
.darkMode .card .card__stars .card__rate {
  color: #d8e2ef;
}
.darkMode .card .card__stars .card__total {
  color: #9da9bb;
}
.darkMode .card .card__price span:first-of-type {
  color: #9da9bb;
}
.darkMode .card .card__price span:last-of-type {
  color: #d8e2ef;
}
.darkMode .card--feedback {
  background-color: #0e1c2f;
}
.darkMode .card--feedback .card-body .card-name {
  color: #d8e2ef;
}
.darkMode .card--feedback .card-body .card-text {
  color: #9da9bb !important;
}

.darkMode header .myNavBar .myNavBar__left .navbar-brand .logo--black {
  display: none;
}
.darkMode header .myNavBar .myNavBar__left .navbar-brand .logo--white {
  display: block;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__categories {
  color: #9da9bb;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group {
  background-color: #152e4d;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control,
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-text {
  background-color: transparent;
  transition: all 0.5s;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid transparent;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus {
  background-color: #132238;
  border-top-color: #344050;
  border-left-color: #344050;
  border-bottom-color: #344050;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-text {
  background-color: #132238;
  border-top-color: #344050;
  border-right-color: #344050;
  border-bottom-color: #344050;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-text:hover {
  cursor: pointer;
  background-color: #ec5252;
  border-top-color: #ec5252;
  border-right-color: #ec5252;
  border-bottom-color: #ec5252;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-text:hover i {
  color: #fff;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::-moz-placeholder {
  color: #fff;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:-ms-input-placeholder {
  color: #fff;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::placeholder {
  color: #fff;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-text {
  border-radius: 0;
  border: 1px solid transparent;
  z-index: 100;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-text i {
  color: #ec5252;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-text:hover {
  cursor: pointer;
  background-color: #ec5252;
}
.darkMode header .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-text:hover i {
  color: #fff;
}
.darkMode header .myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
  color: #d8e2ef;
}
.darkMode header .myNavBar .myNavBar__right .navbar-nav .nav-item:hover {
  background-color: #152e4d;
  border: 1px solid #344050;
}
.darkMode header .myNavBar .myNavBar__right .navbar-nav .nav-item .overlay {
  background-color: #0e1c2f;
  border: 1px solid #344050;
}
.darkMode header .myNavBar .myNavBar__right .navbar-nav .nav-item .overlay:before {
  background-color: #0e1c2f;
  border-top-color: #344050;
  border-left-color: #344050;
}
.darkMode header .myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons:hover {
  background-color: transparent;
  border: none;
}

.darkMode .courses .courses__content .courses__left {
  background-color: #132238;
}
.darkMode .courses .courses__content .courses__left h2 {
  color: #d8e2ef;
}
.darkMode .courses .courses__content .courses__right #myTab {
  border-bottom: 1px solid #344050;
}
.darkMode .courses .courses__content .courses__right #myTab .nav-item .nav-link {
  background-color: transparent;
  color: #9da9bb;
}

.darkMode .categories .categories__content h2 {
  color: #d8e2ef;
}
.darkMode .categories .categories__content .categories__item {
  background-color: #132238;
  border-color: #344050;
  box-shadow: 0 3px 1px 0 #152e4d;
}
.darkMode .categories .categories__content .categories__item:hover {
  box-shadow: 0 0 3px 2px #152e4d;
}

.darkMode .students {
  background-color: #132238;
}
.darkMode .students .students__content h2 {
  color: #d8e2ef;
}

.darkMode .partners {
  background-color: #132238;
}

.darkMode .jobs {
  background-color: #132238;
}
.darkMode .jobs .jobs__content .jobs__items h2 {
  color: #d8e2ef;
}

.darkMode footer .footer__top .nav .nav-item .nav-link {
  color: #d8e2ef;
}
.darkMode footer .footer__top .dropdown-menu {
  background-color: #132238;
  border-color: #344050;
}
.darkMode footer .footer__top .dropdown-menu .dropdown-item {
  color: #d8e2ef;
}
.darkMode footer .footer__top .dropdown-menu .dropdown-item:hover {
  background-color: #152e4d;
}
.darkMode footer .footer__bottom .footer__bottom--left .logo--black {
  display: none;
}
.darkMode footer .footer__bottom .footer__bottom--left .logo--white {
  display: block;
}
.darkMode footer .footer__bottom .footer__bottom--left span {
  color: #9da9bb;
}
.darkMode footer .footer__bottom .footer__bottom--right .nav .nav-item .nav-link {
  color: #d8e2ef;
}/*# sourceMappingURL=main.css.map */