.intro {
  background: linear-gradient(-45deg, $color-red-0, $color-red-2);
  padding: $pd-3;
  .intro__content {
    width: 70%;
    margin: 0 auto;
    .intro__item {
      display: flex;
      align-items: center;
      .intro__icon {
        font-size: $fs-4;
        color: $color-white-0;
        margin-right: $mg-4;
      }
      .intro__details {
        p:first-of-type {
          @include styleText($color-white-0, $fs-3 - 1, $fw-3);
          margin-bottom: 0;
        }
        p:last-of-type {
          @include styleText($color-white-0, $fs-1, $fw-0);
          margin-bottom: 0;
        }
      }
    }
  }
  @include responsive("extra-large") {
    .intro__content {
      .intro__item {
        .intro__icon {
          display: none;
        }
      }
    }
  }
}

@include responsive("medium") {
  .intro {
    display: none;
  }
}
