.sidebarMini {
  position: fixed;
  width: 400px;
  top: 25%;
  right: 0;
  background-color: $color-gray-2;
  border-color: 1px solid $color-gray-2;
  transform: translateX(100%);
  transition: all 0.5s;
  z-index: 20;
  .sidebarMini__button {
    @include styleButton(
      $color-black-0,
      $color-gray-2,
      $color-gray-2,
      $fs-5 + 4,
      $fw-0,
      $pd-0,
      $pd-3
    );
    position: fixed;
    transform: translateX(-100%);
    border-radius: 8px 0 0 8px;
    transition: all 0.5s;
  }
  .sidebarMini__content {
    display: inline-block;
    min-width: 150px;
    padding: $pd-3;
    text-align: center;
    h2 {
      font-size: $fs-0;
    }
    .switch {
      display: inline-block;
      width: 50px;
      height: 26px;
      position: relative;
      #checkbox {
        display: none;
        &:checked + .slider:before {
          transform: translateX(24px);
        }
      }
      .slider {
        position: relative;
        background-color: $color-gray-6;
        cursor: pointer;
        // top: 0;
        // left: 0;
        // bottom: 0;
        // right: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        transition: 0.5s;
        &:before {
          content: "";
          position: absolute;
          top: 4px;
          left: 4px;
          width: 18px;
          height: 18px;
          background-color: $color-white-0;
          border-radius: 50%;
          transition: all 0.5s;
        }
      }
    }
  }
  &.is-opened {
    transform: translateX(60%);
  }
}
